import /init.sc8830.usb.rc
import /init.ram.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 755 /sys/kernel/debug

	#set logd property
	setprop logd.klogd false
    setprop logd.kernel false

    # set core dump resource limit
    setrlimit 4 2147483647 2147483647
    
    # Support isp communicate
    mkdir /dev/isp_pipe 0755 system system
    pipe 666 /dev/isp_pipe/pipe_1

    # coredump file will not be generated in release version
    write /proc/sys/kernel/core_pattern /dev/null
# radio pipe
    mkdir /dev/rpipe 0550 radio radio
    pipe 666 /dev/rpipe/ril.vt.0
    pipe 666 /dev/rpipe/ril.vt.1
    pipe 666 /dev/rpipe/ril.vt.2

    mkdir /dev/socket/ylog 0755 system system

on init
    mkdir /productinfo 0771 system system
    mkdir /storage/emulated 0555 root root
    mkdir /mnt/runtime/default/emulated 0700 root root
    mkdir /mnt/runtime/read/emulated 0700 root root
    mkdir /mnt/runtime/write/emulated 0700 root root

    mkdir /mnt/runtime/default/emulated 0700 root root
    mkdir /mnt/runtime/read/emulated 0700 root root
    mkdir /mnt/runtime/write/emulated 0700 root root

    # SPRD: move this to board level init @{
    #export EXTERNAL_STORAGE /storage/emulated/legacy
    #export SECONDARY_STORAGE /storage/sdcard0
    # @}

    # SPRD: add for storage manage @{
    export EMULATED_STORAGE /storage/self/emulated
    export PHYSICAL_STORAGE /storage/sdcard0
    export PHYSICAL1_STORAGE /storage/sdcard1
    export USBDISK_STORAGE /storage/usbdisk
    symlink /storage/self/primary /mnt/sdcard
    # @}

    chown system system /sys/class/power_supply/battery/hw_switch_point
    chown system system /sys/class/power_supply/battery/save_capacity
    chown system system /sys/class/power_supply/battery/self_test_cnom
    chown system system /sys/class/power_supply/battery/chg_cnom

    #SPRD: Add support for install apk to internal sdcard @{
    mkdir /mnt/secure/internal-asec 0700 root root
    # @}

on fs
    ubiattach 0 ubipac
    exec /sbin/resize2fs -ef /fstab.${ro.hardware}
    mount_all /fstab.${ro.hardware}
    mount pstore pstore /sys/fs/pstore
    setprop ro.crypto.fuse_sdcard true
	symlink /system/res /res
	symlink /system/bin /bin

#Allow others to read fb devices
    chmod 660 /dev/graphics/fb0
    chmod 660 /dev/fb0

on post-fs
    chown system system /productinfo
    chmod 0771 /productinfo
    insmod /lib/modules/mali.ko
#   insmod /lib/modules/trout_fm.ko
    insmod /lib/modules/marlin_fm.ko

on post-fs-data
    copy /system/etc/bluetooth/bt_stack.conf /data/misc/bluedroid/bt_stack.conf
    chown bluetooth net_bt_stack /data/misc/bluedroid/bt_stack.conf
    chmod 0640 /data/misc/bluedroid/bt_stack.conf
    mkdir /data/local/mcue 0777 media system
    mkdir /data/anr 0771 system system
    mkdir /data/tombstones 0771 system system
    mkdir /data/local/englog 0777
    mkdir /data/sprdinfo 0771 system system
    chown system system /data/apr.conf
    mkdir /data/slog 0777
    mkdir /data/ylog 0777
    mkdir /data/mlog 0777
    mkdir /data/userinfo 0777
    mkdir /data/misc/hprofs 0777

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1
    # to force to start sdcard
    class_start late_start

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

    # Support audio loopback test
    mkdir /dev/pipe 0755 system system
    pipe 666 /dev/pipe/mmi.audio.ctrl
    # Support audio parameter stored
    mkdir /data/local/media 0770 audioserver system
    chown system root /proc/cppmic/stop
    chown system root /proc/cppmic/start
    chown system root /proc/cppmic/modem
    chown system root /proc/cppmic/mem
    chown system root /proc/cppmic/status
    chown system root /proc/cppmic/wdtirq
    # LTE MODEM
    chmod 440 /proc/cptl/ldinfo
    chmod 660 /proc/cptl/cpcmdline
    chmod 660 /proc/cptl/modem
    chmod 660 /proc/cptl/tgdsp
    chmod 660 /proc/cptl/ldsp
    chmod 660 /proc/cptl/warm
    chmod 660 /proc/cptl/fixnv
    chmod 660 /proc/cptl/runnv
    chmod 440 /proc/cptl/mem
    chmod 440 /proc/cptl/mini_dump
    chmod 660 /proc/cptl/start
    chmod 660 /proc/cptl/stop
    chmod 660 /proc/cptl/wdtirq
    chown system root /proc/cptl/ldinfo
    chown system root /proc/cptl/cpcmdline
    chown system root /proc/cptl/modem
    chown system root /proc/cptl/ldsp
    chown system root /proc/cptl/tgdsp
    chown system root /proc/cptl/warm
    chown system root /proc/cptl/fixnv
    chown system root /proc/cptl/runnv
    chown system system /proc/cptl/mem
    chown system system /proc/cptl/mini_dump
    chown system root /proc/cptl/start
    chown system root /proc/cptl/stop
    chown system root /proc/cptl/wdtirq

    chmod 660 /proc/cpt/wdtirq
    chmod 660 /proc/cpt/stop
    chmod 660 /proc/cpt/start
    chmod 660 /proc/cpt/modem
    chmod 660 /proc/cpt/dsp

    chown system root /proc/cpt/wdtirq
    chown system root /proc/cpt/stop
    chown system root /proc/cpt/start
    chown system root /proc/cpt/modem
    chown system root /proc/cpt/dsp

    chmod 660 /proc/cpw/wdtirq
    chmod 660 /proc/cpw/stop
    chmod 660 /proc/cpw/start
    chmod 660 /proc/cpw/modem
    chmod 660 /proc/cpw/dsp

    chown system root /proc/cpw/wdtirq
    chown system root /proc/cpw/stop
    chown system root /proc/cpw/start
    chown system root /proc/cpw/modem
    chown system root /proc/cpw/dsp

    chmod 660 /proc/cpwcn/wdtirq
    chmod 660 /proc/cpwcn/stop
    chmod 660 /proc/cpwcn/start
    chmod 660 /proc/cpwcn/modem
    chmod 660 /proc/cpwcn/dsp

    chown system root /proc/cpwcn/wdtirq
    chown system root /proc/cpwcn/stop
    chown system root /proc/cpwcn/start
    chown system root /proc/cpwcn/modem
    chown system root /proc/cpwcn/dsp

    chown system root /proc/mdbg
    chown system root /proc/mdbg/assert
    chown system root /proc/mdbg/wdtirq
    chown system root /proc/mdbg/loopcheck
    chown system root /proc/mdbg/at_cmd

    chmod 766 /proc/mdbg
    chmod 766 /proc/mdbg/assert
    chmod 766 /proc/mdbg/wdtirq
    chmod 766 /proc/mdbg/loopcheck
    chmod 766 /proc/mdbg/at_cmd

    # SIPC state files
    chown system root /sys/kernel/debug/sipc/sblock
    chown system root /sys/kernel/debug/sipc/sbuf
    chown system root /sys/kernel/debug/sipc/seblock
    chown system root /sys/kernel/debug/sipc/sipx
    chown system root /sys/kernel/debug/sipc/smem
    chown system root /sys/kernel/debug/sipc/smsg

on boot
    chown system system /sys/module/mali/parameters/gpu_cur_freq
    chown system system /sys/module/mali/parameters/gpufreq_max_limit
    chown system system /sys/module/mali/parameters/gpufreq_min_limit
    chown system system /sys/module/mali/parameters/gpufreq_table
    chown system system /sys/class/backlight/sprd_backlight/brightness
    chown system system /sys/class/leds/red_bl/high_time
    chown system system /sys/class/leds/red_bl/low_time
    chown system system /sys/class/leds/red_bl/rising_time
    chown system system /sys/class/leds/red_bl/falling_time
    chown system system /sys/class/leds/red_bl/on_off

    chown system system /sys/class/leds/green_bl/high_time
    chown system system /sys/class/leds/green_bl/low_time
    chown system system /sys/class/leds/green_bl/rising_time
    chown system system /sys/class/leds/green_bl/falling_time
    chown system system /sys/class/leds/green_bl/on_off

    chown system system /sys/class/leds/blue_bl/high_time
    chown system system /sys/class/leds/blue_bl/low_time
    chown system system /sys/class/leds/blue_bl/rising_time
    chown system system /sys/class/leds/blue_bl/falling_time
    chown system system /sys/class/leds/blue_bl/on_off

      chown system system /sys/class/input/event2/device/accel/enable 
      chown system system /sys/class/input/event2/device/accel/polling_rate
      chown system system /sys/class/input/event2/device/accel/sampling_freq
      chown system system /sys/class/input/event2/device/accel/sampling_freq_avail
      chown system system /sys/class/input/event2/device/accel/scale
      chown system system /sys/class/input/event2/device/accel/scale_avail
      chmod 0660 /sys/class/input/event2/device/accel/enable
      chmod 0660 /sys/class/input/event2/device/accel/polling_rate
      chmod 0660 /sys/class/input/event2/device/accel/sampling_freq
      chmod 0660 /sys/class/input/event2/device/accel/sampling_freq_avail
      chmod 0660 /sys/class/input/event2/device/accel/scale
      chmod 0660 /sys/class/input/event2/device/accel/scale_avail

      chown system system /sys/class/input/event3/device/gyro/enable 
      chown system system /sys/class/input/event3/device/gyro/polling_rate
      chown system system /sys/class/input/event3/device/gyro/sampling_freq
      chown system system /sys/class/input/event3/device/gyro/sampling_freq_avail
      chown system system /sys/class/input/event3/device/gyro/scale
      chown system system /sys/class/input/event3/device/gyro/scale_avail
      chmod 0660 /sys/class/input/event3/device/gyro/enable
      chmod 0660 /sys/class/input/event3/device/gyro/polling_rate
      chmod 0660 /sys/class/input/event3/device/gyro/sampling_freq
      chmod 0660 /sys/class/input/event3/device/gyro/sampling_freq_avail
      chmod 0660 /sys/class/input/event3/device/gyro/scale
      chmod 0660 /sys/class/input/event3/device/gyro/scale_avail

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
    chown system system /sys/devices/system/cpu/cpufreq/sprdemand/cpu_hotplug_disable
    chown system system /sys/devices/system/cpu/cpufreq/sprdemand/boostpulse
    chown system system /sys/devices/system/cpu/cpufreq/sprdemand/boost
    chown system system /sys/devices/system/cpu/cpuhotplug/boostpulse
    chown system system /sys/devices/system/cpu/cpuhotplug/boostpulse_duration
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_freq
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_enable
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_enable
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_upthreshold
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_downdifferential
    chown media system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_freq
    chown media system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_request
    chown system system /sys/class/thermal/cooling_device0/cur_ctrl_param
    chown system system /sys/class/power_supply/battery/chg_cool_state
    chown system system /sys/class/power_supply/battery/adjust_cur_min
    chown system system /sys/class/power_supply/battery/adjust_cur_max
    chown system system /sys/class/power_supply/battery/stop_charge
    chown system system /sys/class/backlight/sprd_backlight/max_brightness
    chown system system /dev/iq_mem
    chown system system /sys/class/graphics/fb0/dynamic_pclk
    chown system system /sys/class/graphics/fb0/dynamic_mipi_clk
    chown system system /dev/sprd_bm
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpufreq/sprdemand/cpu_hotplug_disable
    chmod 0660 /sys/devices/system/cpu/cpufreq/sprdemand/boostpulse
    chmod 0660 /sys/devices/system/cpu/cpufreq/sprdemand/boost
    chmod 0220 /sys/devices/system/cpu/cpuhotplug/boostpulse
    chmod 0660 /sys/devices/system/cpu/cpuhotplug/boostpulse_duration
    chmod 0660 /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_freq
    chmod 0660 /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_enable
    chmod 0440 /dev/iq_mem
    chmod 0660 /dev/sprd_bm
    chmod 0660 /sys/class/graphics/fb0/dynamic_pclk
    chmod 0660 /sys/class/graphics/fb0/dynamic_mipi_clk
    #if dirty pages more than 4M that will tigger writeback flush
    write /proc/sys/vm/dirty_background_bytes 4194304
    write /proc/sys/net/core/rmem_max 8388608


    chmod 777 /dev/gtp_proximity
    chmod 777 /dev/gs_proximity

    # add for fpsensor Fingerprint
    chmod 660 /dev/fpsensor
    chown system system /dev/fpsensor
    
    mkdir /data/fpsensor
    chmod 0770 /data/fpsensor/
    chmod 0770 /data/fpsensor/socket
    chown system system /data/fpsensor/
    chown system system /data/fpsensor/socket
    
on charger
    class_start core
    start console
    start ylog
    start slog

service poweroffalarm /system/bin/poweroff_alarm
    disabled
    oneshot

on alarm
    class_start core
    start drm
    start media
    start console
    start slog
    start poweroffalarm

on property:ro.debuggable=1
    write /sys/kernel/debug/fatal_dump/enable 1
    mkdir /data/corefile
    chmod 777 /data/corefile
	mkdir /data/slog 0777
	mkdir /data/ylog 0777
    mkdir /data/misc/hprofs 0777
    chmod 777 /sys/kernel/debug/sc2713-regulator/vddarm/voltage
    chmod 777 /sys/kernel/debug/sc2713-regulator/vddcore/voltage
    chmod 777 /sys/kernel/debug/sprd-regulator/vddarm/voltage
    chmod 777 /sys/kernel/debug/sprd-regulator/vddcore/voltage
    chmod 777 /sys/kernel/debug
    write /proc/sys/kernel/core_pattern /data/corefile/core-%e-%p
    write /proc/sys/fs/suid_dumpable 1
    write /sys/module/smsg/parameters/debug_enable 1
	start ylog
    setprop persist.sys.slog.enabled 1
    # CTS for slog, enable the slog daemon in debug version anyway.

on property:ro.product.name=sp9838aea_auto_slt
    setprop persist.sys.sprd.mtbf 0

on property:ro.modem.t.count=1
    write /proc/sim/0 t

on property:ro.modem.t.count=2
    write /proc/sim/0 t
    write /proc/sim/1 t

on property:ro.modem.t.count=3
    write /proc/sim/0 t
    write /proc/sim/1 t
    write /proc/sim/2 t

on property:ro.modem.w.count=1
    write /proc/sim/0 w

on property:ro.modem.w.count=2
    write /proc/sim/0 w
    write /proc/sim/1 w

on property:ro.modem.w.count=3
    write /proc/sim/0 w
    write /proc/sim/1 w
    write /proc/sim/2 w

# SPRD: add for theme setting @{
on property:universe_ui_support=true
    start theme_init

service theme_init /system/bin/theme_init.sh
    disabled
    oneshot
# @}

#modem_control
service modem_control  /system/bin/modem_control
    class core
    user system
    group system radio shell
    oneshot

service batterysrv /bin/batterysrv
    class core
    user system
    group system
    oneshot

service charge /bin/charge
    class charger
    user root
    oneshot

service slog /system/bin/slog -t
    class main
    user root
    disabled

service ylog /system/bin/ylog
    class main
    user root
	disabled

service apr /system/bin/collect_apr
    class main
    user root
    disabled
    oneshot

# SRT server
service srtd /system/xbin/srtd
    class main
    socket srtserver stream 0777 system system
    user root
    group root
    oneshot

service refnotify_td /system/bin/refnotify -t 0
    class main
    disabled
    user system
    group system radio shell
    oneshot

service refnotify_w /system/bin/refnotify -t 1
    class main
    disabled
    user system
    group system radio shell
    oneshot

service refnotify_l /system/bin/refnotify -t 2
    class main
    disabled
    user system
    group system radio shell
    oneshot

# For CTS of slog ->
# This action is to make sure that the shell user
# can also enable the slog daemon

# convert the debug to system
on property:debug.slog.enabled=1
    setprop persist.sys.slog.enabled 1

# convert the debug to system
on property:debug.slog.enabled=0
    setprop persist.sys.slog.enabled 0

# Start the daemon
on property:persist.sys.slog.enabled=1
    mkdir /data/local/tmp/slog 0777
    start slog
    start sprd_res_monitor

# Stop the daemon
on property:persist.sys.slog.enabled=0
    stop slog
    stop sprd_res_monitor
    rm /data/local/tmp/sprd_monitor.conf
    
service ispguard /system/bin/ispguard
    class main
    user root
    group root

# Start the ylog daemon
on property:persist.ylog.enabled=1
	start ylog

# Stop the ylog daemon
on property:persist.ylog.enabled=0
	stop ylog

# For CTS of slog <-

# Start the daemon
on property:persist.sys.apr.enabled=1
    start apr

# Stop the daemon
on property:persist.sys.apr.enabled=0
    stop apr

on property:persist.modem.w.enable=1
    symlink /dev/spipe_w1 /dev/vbpipe1
    symlink /dev/spipe_w2 /dev/vbpipe2
    symlink /dev/spipe_w3 /dev/vbpipe3
    symlink /dev/spipe_w6 /dev/vbpipe6
    start refnotify_w

on property:persist.modem.t.enable=1
    start refnotify_td

on property:persist.modem.l.enable=1
    start refnotify_l

on property:persist.modem.lf.enable=1
    start refnotify_l

service  inputfreq  /system/bin/inputfreq.sh
    user root
    disabled
    oneshot

service  recoveryfreq  /system/bin/recoveryfreq.sh
    user root
    disabled
    oneshot

    chmod 0666 /proc/pin_switch/iis0_sys_sel/cp0_iis0
    chmod 0666 /proc/pin_switch/iis0_sys_sel/cp1_iis0
    chmod 0666 /proc/pin_switch/iis0_sys_sel/cp2_iis0
    chmod 0666 /proc/pin_switch/iis0_sys_sel/ap_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/cp0_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/cp1_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/cp2_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/ap_iis0

service autotest /system/bin/autotest
    class main
    disabled
    user root
    oneshot
# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
#service watchdogd /sbin/watchdogd 10 20
#    class core
#    seclabel u:r:watchdogd:s0

#open bugreport
service bugreport /system/bin/dumpstate -d -p -B \
        -o /data/data/com.android.shell/files/bugreports/bugreport
    class late_start
    disabled
    oneshot

service engpcclientt /system/bin/engpc -p t -a /dev/ttyGS0 -d /dev/ttyGS1 -l /dev/ttyGS4
    class core
    user root
    group system radio shell
    disabled
    oneshot

service engpcclientlte /system/bin/engpc -p l -a /dev/ttyGS5 -d /dev/ttyGS6 -l /dev/ttyGS7
    class core
    user root
    group system radio shell
    disabled
    oneshot

service engpcclientwcn /system/bin/engpc -p wcn -a /dev/ttyGS2 -d /dev/ttyGS3
    class core
    user root
    group system radio shell
    disabled
    oneshot

service engpcclientw /system/bin/engpc -p w -a /dev/ttyGS0 -d /dev/ttyGS1 -l /dev/ttyGS4
    class core
    user root
    group system radio shell
    disabled
    oneshot

service engpcclienttl /system/bin/engpc -p tl -a /dev/ttyGS5 -d /dev/ttyGS6
    class core
    user root
    group system radio shell
    disabled
    oneshot

service engpcclientlf /system/bin/engpc -p lf -a /dev/ttyGS5 -d /dev/ttyGS6 -l /dev/ttyGS7
    class core
    user root
    group system radio shell
    disabled
    oneshot

#For finger printd
service fingerprind /system/bin/fingerprintd
    class main
    user system

#For sunwave finger	
service fp /system/bin/fpserver 
    class main
    user root   
    setprop persist.sys.fp.match.level 4